<app-navbar [hasSearch]="!loading" (searchCity)="cityId = $event.id; cityDataById()"></app-navbar>
<div  
  *ngIf="weatherData && !loading"
  class="wrapper">
  <h2 class="header text-center">Daily forecast for {{ weatherData['city'].name + ", " + weatherData['city'].country }}</h2>
  <div class="forecast-table">
    <div class="forecast-table__head">
      <div class="forecast-table__head__item">Date and time</div>
      <div class="forecast-table__head__item">Status</div>
      <div class="forecast-table__head__item">Description</div>
    </div>
    <div class="forecast-table__body">
      <div 
        *ngFor="let item of weatherData['list']"
        class="forecast-table__body__row">
        <div class="forecast-table__body__row__item">{{ item.dt_txt | date: 'dd/MM/yyyy hh:mm a' }}</div>
        <div class="forecast-table__body__row__item">
          <p class="forecast-table__body__row__item__text">{{ item.temp }}</p>
          <img 
            class="forecast-table__body__row__item__img" 
            [src]="'http://openweathermap.org/img/wn/' + item.icon + '.png'" 
            alt="icon that shows the status of weather">
        </div>
        <div class="forecast-table__body__row__item">{{ item.description }}</div>
      </div>
    </div>
  </div>
  <div class="update-data">
    <p>Data was updated {{ updatedIn }}</p>
    <div 
      (click)="cityDataById()"
      class="btn btn--primary">Refresh data</div>
  </div>
</div>

<app-loading [loading]="loading"></app-loading>