@import "./../../../assets/styles/_variables.scss";

.wrapper {
  display: inline-block;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: #3c3c3c;
}

.header {
  color: #FFF;
}

.forecast-table {
  width: 700px;
  margin: 0 auto;
  color: #FFF;
  background-image: url("/assets/images/warm.png");
  background-repeat: no-repeat;
  border-radius: 5px;
  max-height: 475px;
  overflow-y: auto;

  &__head {
    border-bottom: 1px solid #FFF;

    &__item {
      display: inline-block;
      width: 33.33%;
      padding: 0 20px;
      height: 60px;
      line-height: 60px;
      font-size: 1.1rem;
      font-weight: bold;
    }
  }
  
  &__body {
    &__row {
      border-bottom: 1px solid #FFF;

      &__item {
        display: inline-block;
        width: 33.33%;
        padding: 0 20px;
        height: 45px;
        line-height: 45px;

        &__text {
          margin: 0;
        }

        &__img {
          float: right;
          position: relative;
          bottom: 45px;
        }
      }
    }

  }

}


.update-data {
  color: #FFF;
  width: 240px;
  margin: 20px auto;
  text-align: center;
}