@import "./../../../assets/styles/_variables.scss";

.header {
  text-align: center;
  word-spacing: 2px;
}

/*********************************\
          wrapper style
\*********************************/

.wrapper {
  display: inline-block;
  width: 100%;
  height: calc(100vh - 80px);;
  background-image: url("/assets/images/cold.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFF;
  
  &--cold {
    background-image: url("/assets/images/cold.png");
  }
  &--warm {
    background-image: url("/assets/images/warm.png");
  }
  &--night {
    background-image: url("/assets/images/night.png");
  }
}

.weather-box {
  width: 600px;
  margin: 40px auto 0;
  // background-color: #FFF;
  min-height: 500px;
  font-size: 1.1rem;
  line-height: 24px;
  text-align: center;

  &__temp-section {
  
    &__current {
      width: 220px;
      margin: 0 auto;
  
      &__degree {
        float: left;
        font-size: 3rem;
        line-height: initial;
        margin: 10px 0;
      }
    
      &__icon {
        float: right;
        position: relative;
        bottom: 15px;
      }
    }
  }

  &__range {
    font-size: 1.4rem;
    margin-top: 0;

    &__min {
      color: $border-color;
    }
  }

  &__desc__link {
    color: #FFF;
  }
}


@media only screen and (max-width: 600px) {
  .weather-box {
    width: 460px;
  }
}