<app-navbar [hasSearch]="!loading" (searchCity)="currentCity = $event; cityDataById()"></app-navbar>
<div  
  *ngIf="weatherData && !loading"
  class="wrapper"
  [ngClass]="{
    'wrapper--cold': weatherData['main'].temp <= 18,
    'wrapper--warm': weatherData['main'].temp > 18,
    'wrapper--night': checkIfSunset()
  }">
  <h1 class="header">Egypt weather application.</h1>
  <h2 class="header">Weather Status in {{ weatherData['name'] + ", " + weatherData['sys'].country }}</h2>
  <div class="weather-box">
    <div class="weather-box__temp-section">
      <div class="weather-box__temp-section__current">
        <p class="weather-box__temp-section__current__degree">{{ weatherData['main'].temp }} °C</p>
        <img 
          class="weather-box__temp-section__current__icon"
          [src]="'http://openweathermap.org/img/wn/' + weatherData['weather'][0].icon + '@2x.png'" 
          alt="icon that shows the status of weather">
        <div class="clearfix"></div>
      </div>
      <p class="weather-box__range">
        <span>{{ weatherData['main'].temp_min }}°</span>
        / 
        <span class="weather-box__range__min">{{ weatherData['main'].temp_max }}°</span>
      </p>
    </div>
    <p class="weather-box__desc">
      {{ weatherData['weather'][0].main }} <br>
      {{ weatherData['weather'][0].description }}
    </p>
    <p>Humidity is {{ weatherData['main'].humidity }}, and wind speed is {{ weatherData['wind'].speed }} KM</p>
    <p>
      Sunrise is at {{ sunTimes.sunrise }} <br>
      Sunset is at {{ sunTimes.sunset }}
    </p>
    <p>Data was updated {{ updatedIn }}</p>
    <p>Look at <a class="weather-box__desc__link" [routerLink]="'forecast/' + currentCity.id">daily forecast</a> or...</p>
    <div 
      (click)="cityDataById()"
      class="btn btn--primary">Refresh data</div>
  </div>
</div>

<app-loading [loading]="loading"></app-loading>