@import "./../../../assets/styles/_variables.scss";
@import "./../../../assets/styles/_common-styles.scss";

.navbar {
  padding: 0 100px;
  background-color: $primary-background-color;
  border-bottom: 1px solid #dedede;
  height: 80px;
  line-height: 80px;

  &-logo {
    float: left;
    color: #FFF;
    font-size: 1.4rem;
    text-decoration: none;
    line-height: inherit;
  }
}


.city-search {
  &__group {
    float: right;
    position: relative;
    width: 280px;
    height: inherit;
  }

  &__input {
    height: 34px;
    width: 100%;
    border-radius: 20px;
    padding-left: 20px;
    background-color: $off-white;
    border: none;
    color: #7a7a7a;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    width: 20px;
    position: absolute;
    top: 32px;
    right: 10px;
    
    &--activate {
      cursor: pointer;
    }
  }

  &__current {
    color: #FFF;
    font-size: 1.2rem;
    display: inline-block;
  }
}

.cities-list {
  width: 100%;
  max-height: 288px;
  overflow-y: auto;
  position: absolute;
  z-index: 1;
  top: 58px;
  border-radius: 20px;
  background-color: $off-white;
  border: 1px solid $border-color;

  &__item {
    display: block;
    line-height: 40px;
    padding: 0 10px;
    border-bottom: 1px solid $border-color;
    cursor: pointer;

    &:hover {
      background-color: $border-color;
    }
    &:last-of-type {
      border: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    padding: 0 40px;
  }

  .city-search {
    &__group {
      width: 200px;
    }

    &__current {
      width: 170px;
    }
  }
}