<div class="navbar">
  <a routerLink="/" class="navbar-logo">Weather App.</a>
  <div (click)="!showCities ? showCities = true : false" *ngIf="hasSearch" class="city-search__group">
    <img 
      [src]="currentCity['id'] && !showSearch ? 'assets/images/search-white.svg' : 'assets/images/search.svg'" 
      (click)="showSearch = true;"
      class="city-search__icon"
      [class.city-search__icon--activate]="currentCity['id']">
    <span class="city-search__current limited-text" *ngIf="currentCity['id'] && !showSearch">{{ currentCity['name'] }}</span>
    <div *ngIf="!currentCity['id'] || showSearch">
      <input 
        type="text" 
        class="city-search__input"
        #search
        (input)="search.value = search.value"
        placeholder="Search for cities">
      <ul class="cities-list" *ngIf="showCities && cities.length">
        <li 
          class="cities-list__item" 
          *ngFor="let city of cities | filter: search.value"
          (click)="$event.stopPropagation(); setCurrentCity(city)">{{ city.name }}</li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
</div>