body,
html {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: $primary-font;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.limited-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 12px;
}

.boxed-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.hr {
  display: block;
  height: 1px;
  background-color: #CCC;
}

.text-center {
  text-align: center;
}